/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.prose p {
  margin-bottom: 1em;
}

.prose a {
  color: #4f46e5;
}

.prose a:link {
}

.prose a:visited {
}

.prose a:focus,
.site-footer a:focus {
  border-bottom: 1px solid;
  color: #4f46e5;
  /* background: #bae498; */
}

.prose a:hover,
.site-footer a:hover {
  border-bottom: 1px solid;
  color: #4f46e5;
  /* background: #cdfeaa; */
}

.prose a:active {
}
